@import 'tailwindcss';
@import './variables.css';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-Roboto);
  background: var(--color-background);
  margin: 0;
  padding: 0;
  color: var(--color-base-label);
  font-size: var(--text-m);
  line-height: 1.5;
  box-sizing: border-box;
}

/* === DARK THEME OVERRIDES === */
.dark {
  --color-background: var(--color-background-dark);
  --color-base-card: var(--color-base-card-dark);
}

.button-primary {
  @apply bg-purple-pink cursor-pointer rounded-2xl p-4 font-bold text-white;
}

.button-primary:hover {
  @apply bg-purple-pink-dark transition duration-300 ease-in-out;
}

.button-secondary {
  @apply bg-pink cursor-pointer rounded-2xl p-4 font-bold text-white;
}

.button-secondary:hover {
  @apply bg-purple-pink-dark transition duration-300 ease-in-out;
}

.button-outline {
  @apply text-purple border-purple cursor-pointer rounded-2xl border-2 bg-transparent p-4 font-bold;
}

.button-outline:hover {
  @apply bg-purple-light transition duration-300 ease-in-out;
}

.button-link {
  @apply cursor-pointer border-2 border-transparent bg-transparent text-white;
}

.button-link:hover {
  @apply text-purple-light transition duration-300 ease-in-out;
}

.button-link-secondary {
  @apply cursor-pointer border-2 border-transparent bg-transparent text-black;
}

.button-link-secondary:hover {
  @apply text-background-dark transition duration-300 ease-in-out;
}

.container-section {
  @apply flex items-start justify-center p-4 lg:p-2;
}
.container {
  @apply mx-auto max-w-250 px-4;
}

.title-primary {
  @apply text-3xl font-bold lg:text-5xl;
}
