@import "tailwindcss";
@import './variables.css';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-Roboto);
  background: var(--color-background);

  margin: 0;
  padding: 0;
  color: var(--color-base-label);
  font-size: var(--text-m);
  line-height: 1.5;
  box-sizing: border-box;
}

/* === DARK THEME OVERRIDES === */
.dark {
  --color-background: var(--color-background-dark);
  --color-base-card: var(--color-base-card-dark);
}

.button-primary {
  @apply bg-purple-pink text-white rounded-2xl font-bold cursor-pointer p-4;
}

.button-primary:hover {
  @apply bg-purple-pink-dark transition duration-300 ease-in-out;
}

.button-secondary {
  @apply bg-pink text-white rounded-2xl font-bold cursor-pointer p-4;
}

.button-secondary:hover {
  @apply bg-purple-pink-dark transition duration-300 ease-in-out;
}

.button-outline {
  @apply bg-transparent text-purple rounded-2xl font-bold cursor-pointer p-4 border-2 border-purple;
}

.button-outline:hover {
  @apply bg-purple-light transition duration-300 ease-in-out;
}

.button-link {
  @apply bg-transparent text-white cursor-pointer border-2 border-transparent;
}

.button-link:hover {
  @apply text-purple-light transition duration-300 ease-in-out;
}

.button-link-secondary {
  @apply bg-transparent text-black cursor-pointer border-2 border-transparent;
}

.button-link-secondary:hover {
  @apply text-background-dark transition duration-300 ease-in-out;
}
