@theme {
  --font-Roboto: 'Nunito', sans-serif;
  --font-Baloo: Baloo2, sans-serif;
  /* === COLORS === */

  /* Pink & Purple Palette */
  --color-purple-pink-dark: #a500d4;
  --color-purple-pink: #cd1fff;
  --color-pink: #f9a0ff;
  --color-pink-light: #f5d0f8;
  --color-purple-dark: #4b2995;
  --color-purple: #8047f8;
  --color-purple-light: #ebe5f9;

  /* Neutral Palette */
  --color-white: #ffffff;
  --color-background: #fafafa;
  --color-base-card: #f3f2f2;
  --color-base-hover: #d7d5d5;
  --color-base-label: #8d8686;

  /* Dark Theme Palette */
  --color-background-dark: #272221;
  --color-base-card-dark: #574f4d;

  /* === TYPOGRAPHY === */

  /* Title Sizes */
  --text-title-xl: 48px;
  --text-title-l: 32px;
  --text-title-m: 24px;
  --text-title-s: 20px;
  --text-title-xs: 18px;

  /* Text Sizes */
  --text-l: 20px;
  --text-m: 16px;
  --text-s: 14px;
  --text-xs: 12px;

  /* === SPACING === */
  --p-spacing-xxl: 32px;
  --spacing-xl: 24px;
  --spacing-l: 20px;
  --spacing-m: 16px;
  --spacing-s: 12px;
  --spacing-xs: 8px;
}
